#billboard{
    background-image: url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.upper-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
    background-color: white;
    height: 10vh;
    padding: 10px 20px;
}

.ulist{
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
}

.a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.lower-nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    margin-top: 467px;
}

.project{
margin: 2px 0px 2px 50px;
}

.button{
    background-color: aqua;
    border: aqua;
    padding: 10px 50px;
    margin: 2px 50px 2px 0px;
    text-decoration: none;
}

button:hover{
    background-color: aquamarine;
    transition: 0.5;
}

.container{
    display: grid;
    gap: 10px 20px;
    grid-template-columns: auto;
    margin: 0px 15%;
    padding: 100px 0px;
    background-color: whitesmoke;
    text-align: center;
}

.grid-container{
    display: grid;
    gap: 10px 20px;
    grid-template-columns: auto auto auto;
    margin: 10px;
    padding: 0px 10px; 
}

.container-img{
    display: flex;
    flex-direction: row;
}

.testimonials{
    text-transform: uppercase;
}

.container-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 30px;
    margin: 10px;
    padding: 0px 20px;
}

.client{
    border-radius: 50px;
}

.logo{
    opacity: 0.4;
    background-color:grey;
}

.brand{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0px 15%;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 20px;
}

.end-page{
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: left;
}

.touch{
    display: flex;
    justify-content: space-around;
    background-color: rgb(70, 66, 66);
    margin: 0px 15%;
    padding: 10px;
    gap: 20px;
    font-size: small;
}

.last-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    text-align: start;
    gap: 15%;
    margin: 50px 15% ;
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    text-align: start;
}

.h1{
    text-align: right;
}

.h2{
    text-align: center;
}

.p{
    text-align: center;
    padding: 5px;
}